
<%- include("header")  -%>

<h2>This is the About Section</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero vel aliquid, illum accusantium, molestiae eius quisquam aperiam aut culpa explicabo, tempore provident numquam. Pariatur ea tenetur, sint mollitia, nostrum ullam voluptate expedita accusamus incidunt molestiae qui neque suscipit est!</p>



<%- include("footer")  -%>